[package]
name = "any_vec"
authors = ["Andrey Diduh <tower120@gmail.com>"]
license = "MIT OR Apache-2.0"
version = "0.2.1"
edition = "2021"
description = "Type erased vector. Most operations can be done without type knowledge. Mostly zero overhead."
repository = "https://github.com/tower120/any_vec"
keywords = ["vec", "any"]
categories = ["data-structures"]
exclude = [".github"]

[dev-dependencies]
itertools = "0.10.3"
criterion = "0.3.5"

[[bench]]
name = "push"
harness = false

[[bench]]
name = "swap_remove"
harness = false