name: coverage

on: 
  workflow_dispatch:
  #push:
    
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Install cargo-tarpaulin
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-tarpaulin
        
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Generate code coverage
      run:
        RUSTFLAGS="-Copt-level=0"
        cargo tarpaulin --all-features --out xml

    - name: Upload to codecov.io
      uses: codecov/codecov-action@v4
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        fail_ci_if_error: true    